

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container">
    <div class="card ">

    <h1 class="card-header text-center">Sign up</h1>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true,class:"form-control", placeholder: 'Enter your Email' %>

        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password,  class:"form-control",placeholder: 'Enter your password' %>

        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation ,class:"form-control",placeholder: 'Re-enter your password'%>

        <div class="actions">
          <%= f.submit "Sign up",class: "btn btn-primary center-block"  %>
        </div>
      </div>
    </div>
<% end %>

<%= render "devise/shared/links" %>












